@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-text-size-adjust: 100%;
  }

  ::selection {
    background: rgba(0, 255, 135, 0.35);
    color: #0c0c0c;
  }
}
