@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  ::selection {
    background: rgba(0, 255, 135, 0.35);
    color: #0c0c0c;
  }

  * {
    border-color: hsl(150 5% 15%);
  }

  body {
    background: hsl(150 10% 3%);
    color: hsl(150 5% 95%);
  }
}
